<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="fontawesome-free-5.15.4-web/css/all.min.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.4-web/css/fontawesome.min.css">
</head>

<body class="main-content">
    <header class="container header active" id="home">
        <div class="header-content">
            <div class="left-header">
                <div class="h-shape"></div>
                <div class="image">
                    <img src="static/hero.png" alt="">
                </div>
            </div>
            <div class="right-header">
                <h1 class="name">
                    <span>Brain Train</span><br />
                    Study Excellence
                </h1>
                <p>
                    The ideal study place for your children.
                </p>
                <a class="signInBtn" href="login.html">
                    <i class="fa fa-user"></i>
                    &ensp;
                    <span>Sign In</span>
                </a>
            </div>
        </div>
    </header>
    <main>
        <section class="container about" id="about">
            <div class="main-title">
                <h2>Packages </span></span></h2>
            </div>
            <div class="about-container">
                <div class="left-about">
                    <h4></h4>
                    <p>
                        We are now providing tuitions for 3 subjects C programming
                        ,Python and JavaScripts. We are providing different types of Packages
                        who want to join for two or more tuition classes. We will be
                        adding more classes soon. <br /> <br />
                    </p>
                    <div class="btn-con">

                    </div>
                </div>
                <div class="right-about">

                    <div class="about-item">
                        <div class="abt-text">
                            <p class="middle-text"><a href="your_link_here" target="_blank">C Prog</a></p>
                            <p class="small-text">$140 /m<br /></p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="middle-text"><a href="your_link_here" target="_blank">Java + C Prog</a></p>
                            <p class="small-text">$210 /m<br /></p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="middle-text"><a href="your_link_here" target="_blank">Python </a></p>
                            <p class="small-text">$140 /m<br /></p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="middle-text"><a href="your_link_here" target="_blank">Python + C Prog</a></p>
                            <p class="small-text">$220 /m<br /></p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="middle-text"><a href="your_link_here" target="_blank">Java</a></p>
                            <p class="small-text">$140 /m<br /></p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="middle-text"><a href="your_link_here" target="_blank">Python + Java</a></p>
                            <p class="small-text">$210 /m<br /></p>
                        </div>

                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="middle-text"><a href="your_link_here" target="_blank">Python + Java + C Prog</a>
                            </p>
                            <p class="small-text">$250 /m<br /></p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="about-stats">
                <h4 class="stat-title"></h4>
                <div class="progress-bars">
                </div>
                <div class="contact-item">
                    <div class="">
                        <i class=""></i>
                        <span></span>
                    </div>
                    <p>
                        <span> </span>
                    </p>
                    <div class="progress-bar">

                        <div class="">
                            <p class="prog-text"></p>
                            <div class="progress">

                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title"> </p>
                        <div class="">
                            <p class="prog-text"></p>
                            <div class="progress">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section class="container" id="portfolio">
            <div class="main-title">
                <h2>Payment</span><span class="bg-text"></span></h2>
            </div>
            <p class="port-text">
                Please select the payment type
            </p>
            <div class="portfolios">
                <div id="paymentSuccessMessage">
                    Successfully Paid!
                </div>
                <div>
                    <div class="portfolio-item" onclick="paymentSuccess('Paypal')">
                        <div class="image">
                            <img src="static/paypal.png" alt="">
                        </div>
                        <div class="hover-items">
                            <h3>Pay with Paypal</h3>
                            <div class="icons">
                                <!-- <a href="paymentok.html" target="_blank" class="icon">
                                <i class="fab fa-github"></i>
                            </a> -->
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 20px;">
                        <label for="paypalPayment">Card Number</label>
                        <input id="paypalPayment" type="text" class="_input" />
                        <br />
                        <label for="paypalAmount">Amount</label>
                        <input id="paypalAmount" type="text" class="_input" />
                    </div>
                </div>
                <div>
                    <div class="portfolio-item" onclick="paymentSuccess('Visa')">
                        <div class="image">
                            <img src="static/visa.png" alt="">
                        </div>
                        <div class="hover-items">
                            <h3>Pay with Visa</h3>
                            <div class="icons">
                                <!-- <a href="paymentno.html" target="_blank" class="icon">
                                <i class="fab fa-github"></i>
                            </a> -->
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 20px;">
                        <label for="visaPayment">Card Number</label>
                        <input id="visaPayment" type="text" class="_input" />
                        <br />
                        <label for="visaAmount">Amount</label>
                        <input id="visaAmount" type="text" class="_input" />
                    </div>
                </div>
                <div>
                    <div class="portfolio-item" onclick="paymentSuccess('Mastercard')">
                        <div class="image">
                            <img src="static/master.png" alt="">
                        </div>
                        <div class="hover-items">
                            <h3>Pay with Mastercard</h3>
                            <div class="icons">
                                <!-- <a href="paymentok.html" target="_blank" class="icon">
                                <i class="fab fa-github"></i>
                            </a> -->
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 20px;">
                        <label for="mastercardPayment">Card Number</label>
                        <input id="mastercardPayment" type="text" class="_input" />
                        <br />
                        <label for="mastercardAmount">Amount</label>
                        <input id="mastercardAmount" type="text" class="_input" />
                    </div>
                </div>

            </div>
        </section>
        <section class="container" id="blogs">
            <div class="main-title">
                <h2> User Registration </span></span></h2>
            </div>
            <div class="blogs-content">
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>User Registration</title>
                <style>

                </style>
                </head>

                <body>

                    <form action="registration_process.php" method="post">
                        <h2></h2>

                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" required>

                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>

                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>

                        <label for="First name">First name:</label>
                        <input type="text" id="first name" name="First name" required>

                        <label for="Last Name">Last Name:</label>
                        <input type="text" id="Last Name" name="Last Name" required>

                        <label for="Gender">Gender:</label>
                        <input type="text" id="Gender" name="Gender" required>

                        <label for="Packages">Packages:</label>
                        <input type="text" id="Packages" name="Packages" required>

                        <button type="submit">Register</button>
                    </form>
            </div>
        </section>
        <section class="container contact" id="contact">
            <div class="contact-container">
                <div class="main-title">
                    <h2>Group Info </span></span></h2>
                </div>
                <div class="contact-content-con">
                    <div class="left-contact">
                        <h4>Humber College</h4>
                        <p>
                            Cloud Computing
                        </p>
                        <div class="contact-info">
                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fa fa-user-graduate"></i>
                                    <span>Imrit Singh : N01522171</span>
                                </div>
                                <p>

                                </p>
                            </div>
                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fa fa-user-graduate"></i>
                                    <span>Ruchika Soni Deuja : N01577934</span>
                                </div>
                                <p>
                                    <span> </span>
                                </p>
                            </div>
                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fa fa-user-graduate"></i>
                                    <span>Safal Piya: N01526950</span>
                                </div>
                                <p>
                                    <span> </span>
                                </p>


                            </div>
                            <div class="contact-icons">
                                <div class="contact-icon">
                                    <a href="http://10.10.20.2/cacti/index.php" target="_blank">
                                        <i class="fas fa-sitemap"></i>
                                    </a>
                                    <a href="http://10.10.20.3/radiusmanager/admin.php" target="_blank">
                                        <i class="fa fa-key"></i>
                                    </a>
                                    <a href="https://10.10.20.6/" target="_blank">
                                        <i class="fa fa-comment-dots"></i>
                                    </a>
                                    <a href="http://192.168.80.2/" target="_blank">
                                        <i class="fas fa-phone"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="right-contact">

                        </div>
                    </div>
                </div>
        </section>
    </main>

    <div class="controls">
        <div class="control active-btn" data-id="home">
            <i class="fa fa-home"></i>
        </div>
        <div class="control" data-id="about">
            <i class="fas fa-list-ul"></i>
        
        </div>
        <div class="control" data-id="blogs">
            <i class="far fa-registered"></i>
        </div>
        <div class="control" data-id="portfolio">
            <i class="fas fa-money-check-alt"></i>
        </div>
        <div class="control" data-id="contact">

            <i class="fa fa-user"></i>

        </div>
    </div>

    <i class="fa fa-adjust"></i>
    </div>
    <script src="app.js"></script>

</body>

</html>