<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>

<h1>Muhammad Khan </h1>
<h2>Student Number: N01234 </h2>
<h3>Items to Purchase </h3>
<ol class="b">
<li> HP Laser Printer </li>
<li> Dell Desktop Computer </li>
<li> Acer Laptop Computer </li>
</ol>

<table>
    <tr>
    <th>Name</th><th>Student Number</th>
    </tr>

    <tr>
        <td align="center">Muhammad Khan</td> <td align="center">N01234</td>
    </tr>

</table>

</body>

</html>
